{% extends 'base.html' %} {% load static %}
{% block title %}
  Mensaje enviado
{% endblock %}
{% block content %}
  <section class="section base-wrapper">
    <div class="container white-rounded-box">
      <div class="block">
        <h1 class="has-text-centered title">Mensaje enviado</h1>
      </div>

      <div class="block has-text-centered">
        <p>
          En breve nos pondremos en contacto contigo, responderemos a la casilla de email <b>{{ contact_msg.email }}</b>.
        </p>
      </div>

      <div class="block has-text-centered">
        <a href="{% url 'main:home' %}" class="button ml-3 is-link is-rounded">Volver al inicio</a>
      </div>
    </div>
  </section>
{% endblock %}
