{% extends 'base.html' %} {% block title %}
  Zalon Design
{% endblock %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
{% endblock %}

{% block content %}
  <div id="landing-page">
    <section class="section">
      <div class="container">
        <h1 class="title has-text-centered">Packs disponibles</h1>
        <h3 class="subtitle has-text-centered">¡No esperes más para hacer despegar tu negocio!</h3>

        <div class="columns is-desktop">
          {% for pack in packs %}
            <div class="column is-half">
              <div class="box card slightly-rotate-hover pack-card">
                <div class="card-image">
                  <figure class="image is-1by1">
                    <img src="{{ media_root }}{{ pack.cover.url }}" alt="Placeholder image" />
                  </figure>
                  <div class="price-tag">${{ pack.price }}</div>
                </div>
                <div class="card-content">
                  <p class="title block">{{ pack.name }}</p>
                  <p class="subtitle block">{{ pack.subtitle }}</p>

                  <div class="block">
                    <a href="{% url 'main:pack_detail' pack.id %}" class="button is-primary is-rounded">Ver pack</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <nav class="level is-mobile mt-6 mb-6 pt-6">
          <div class="level-item has-text-centered">
            <div>
              <i class="lni lni-users level-icon"></i>
              <p class="heading">Seguidores en redes</p>
              <p class="title">3,456</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <i class="lni lni-rocket level-icon"></i>
              <p class="heading">Packs vendidos</p>
              <p class="title">123</p>
            </div>
          </div>
          <div class="level-item has-text-centered is-hidden-mobile">
            <div>
              <i class="lni lni-bolt level-icon"></i>
              <p class="heading">Emprendimientos usando Zalon</p>
              <p class="title">456K</p>
            </div>
          </div>
        </nav>
      </div>
    </section>

    {% comment %}Reviews section{% endcomment %}
    <section id="reviews-section">
      <h1 class="title has-text-centered">Qué opinan quienes han usado nuestros packs</h1>

      <div class="reviews-container is-flex">
        {% for review in customer_reviews %}
          <div class="box review">
            <div class="media block">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img class="is-rounded" src="{{ media_root }}{{ review.image.url }}" alt="{{ review.name }}" />
                </figure>
              </div>
              <div class="media-content">
                <p class="is-size-4">{{ review.name }}</p>
                <p class="is-size-6">{{ review.business }}</p>
              </div>
            </div>
            <div class="content">
              <p>{{ review.review }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}
