{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'main/css/pack_detail.css' %}" />
{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds-desktop">
          <figure class="image is-16by9">
            <img src="{{ pack.cover.url }}" alt="{{ pack.name }}" style="border-radius: 8px;" />
          </figure>
        </div>
        <div class="column">
          <h1 class="title">{{ pack.name }}</h1>
          <p class="subtitle">{{ pack.subtitle }}</p>
          <p class="price">${{ pack.price }}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
