{% extends 'base.html' %}

{% block extra_head %}
  <style>
    .container {
      background-color: red;
      padding: 32px;
      border-radius: 16px;
    }
    @media (max-width: 1024px) {
      .container {
        padding: 8px;
      }
    }
  </style>
{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds-desktop">
          <figure class="image is-16by9">
            <img src="{{ pack.cover.url }}" alt="{{ pack.name }}" style="border-radius: 8px;" />
          </figure>
        </div>
        <div class="column">
          <h1 class="title">{{ pack.name }}</h1>
          <p class="subtitle">{{ pack.subtitle }}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
