POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
DEBUG=False
DJANGO_ENV=local
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_SECRET_KEY=ASDFdlkfg4564s---ff%%sdv