asgiref==3.8.1
Django==4.2.3
django-admin-interface==0.28.6
django-appconf==1.0.6
django-browser-reload==1.12.1
django-ckeditor-5==0.2.12
django-colorfield==0.11.0
django-compressor==4.4
django-js-asset==2.2.0
django-simple-bulma==2.6.0
libsass==0.23.0
pillow==10.2.0
psycopg2-binary==2.9.6
python-dotenv==1.0.1
python-slugify==8.0.4
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.4.4
text-unidecode==1.3
