asgiref==3.8.1
Django==4.2.3
django-appconf==1.0.6
django-browser-reload==1.12.1
django-compressor==4.4
libsass==0.23.0
pillow==10.2.0
psycopg2-binary==2.9.6
python-dotenv==1.0.1
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.4.4
