{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>
      {% block title %}
        Zalon Design
      {% endblock %}
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no" />

    {% comment %}Bulma CSS{% endcomment %}
    {% load django_simple_bulma %}
    {% bulma %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% comment %}Google Fonts{% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />

    {% comment %}Lineicons{% endcomment %}
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />

    {% comment %}Our general styling{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_MEASUREMENT_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      
      gtag('config', '{{ GOOGLE_ANALYTICS_MEASUREMENT_ID }}');
    </script>

    {% block extra_head %}

    {% endblock %}
  </head>

  {% comment %}TODO: we're forcing light theme here. We have to fix the dark mode variables and remove this data-theme param{% endcomment %}
  <body data-theme="light">
    {% block header %}
      <header>
        <nav id="navbar" class="navbar is-justify-content-center" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item is-hidden-desktop" href="/"><img src="{% static '/img/zalon_design_logo.png' %}" alt="Zalon Design logo" /></a>

            {% comment %}Menu button for mobile hidden for now{% endcomment %}
            {% comment %} <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-zalon">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a> {% endcomment %}
          </div>
          <div id="navbar-zalon" class="navbar-menu is-flex-grow-0">
            <div class="navbar">
              {% comment %}Menu options hidden for now{% endcomment %}
              {% comment %} <a class="navbar-item">Cómo funciona</a> {% endcomment %}
              <a class="navbar-item is-hidden-touch" href="/"><img src="{% static '/img/zalon_design_logo.png' %}" alt="Logo" /></a>
              {% comment %} <a class="navbar-item">Packs disponibles</a> {% endcomment %}
            </div>
          </div>
        </nav>
      </header>
    {% endblock %} {% block content %}

    {% endblock %}

    <footer class="footer">
      <div class="block has-text-centered">
        <p class="block">¿Necesitas ayuda con algo? No dudes en escribirnos.</p>
        <a href="{% url 'main:contact' %}" class="button is-link is-light is-rounded">Contacto</a>
      </div>
      <div class="block has-text-centered">
        <p>
          <b>Zalon Design 2024</b> by
          <a href="http://zalon.app">Zalon</a>. This is open sourced for you
          <a href="https://github.com/falcodeuy/zalon-design/">here</a> 💜
        </p>
      </div>
      <div class="block has-text-centered">
        <a href="/"><img src="{% static '/img/zalon_design_logo.png' %}" width="150" alt="Zalon Design logo" /></a>
      </div>
    </footer>

    <script>
      // For Bulma burger menu
      document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll('.navbar-burger'),
          0
        );
      
        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);
      
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      });
    </script>
  </body>
</html>
