/* Our Bulma theme */

body {
  --bulma-text: #083766;
  --bulma-link: #5271ff;
  --bulma-primary: #083766;
  --bulma-info: #5271ff;
  --bulma-body-family: 'Inter', sans-serif;
  --bulma-background: #e7e6eb;
}

:root {
  --bulma-text: #083766;
  --bulma-link: #5271ff;
  --bulma-primary: #083766;
  --bulma-info: #5271ff;
  --bulma-body-family: 'Inter', sans-serif;
  --bulma-background: #e7e6eb;
}

.button {
  background-color: var(--bulma-primary);
  /* color: white; */
}

.navbar img {
  max-height: 5rem;
}

/* Hover effects */

.slightly-rotate-hover {
  transform: rotate(0);
  scale: 1;
  box-shadow: none;
  transition: all 1s ease;
}
.slightly-rotate-hover:hover {
  transform: rotate(0.3deg);
  scale: 1.01;
  box-shadow: grey 10px 10px 20px;
}
