body {
  /* TODO we should manage the background color with Bulma theme */
  background-color: #e7e6eb;
  background: #e7e6eb;
  letter-spacing: 0.5px;
}

.navbar img {
  max-height: 5rem;
}

.base-wrapper {
  min-height: calc(
    100vh - 368px - 96px
  ); /* 368px is the height of the footer and 96px is the height of the navbar */
}

.white-rounded-box {
  background-color: white;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .white-rounded-box {
    margin: -1.5rem;
    padding: 1rem !important;
  }
}

/* Lineicons custom fixes */

.icon {
  margin: -4px;
  color: #5271ff;
}

/* Hover effects */

.slightly-rotate-hover {
  transform: rotate(0);
  scale: 1;
  box-shadow: none;
  transition: all 1s ease;
}
.slightly-rotate-hover:hover {
  transform: rotate(0.3deg);
  scale: 1.01;
  box-shadow: grey 10px 10px 10px;
}
