.payment-logo {
  width: 60px;
  margin-right: 8px;
  vertical-align: middle;
}

.border-right {
  border-right: #e7e6eb 1px solid;
}

.border-bottom {
  border-bottom: #e7e6eb 1px solid;
}

.instruction-icon {
  margin-right: 8px;
  color: #5271ff;
  vertical-align: middle;
  font-size: larger;
}

.padding-wrapper {
  padding: 40px;
}

@media (max-width: 1024px) {
  .container {
    padding: 8px;
  }
  .p-6 {
    padding: 1rem 1rem !important;
  }
}
