.container {
  background-color: white;
  padding: 32px;
  border-radius: 16px;
}
@media (max-width: 1024px) {
  .container {
    padding: 8px;
  }
}

.icon {
  margin: -5px;
}
.lni-star-fill {
  color: #5271ff;
}

.payment-logo {
  width: 60px;
  margin-right: 8px;
  vertical-align: middle;
}
