#landing-page {
  background: linear-gradient(45deg, #e7e6eb, #c0b5eb);
}

.level-icon {
  display: inline;
  vertical-align: bottom;
  font-size: 2.2em;
}

.pack-card {
  max-width: 450px;
  margin: auto;
}

.price-tag {
  width: 95px;
  float: right;
  transform: rotate(-3deg);
  top: -24px;
  right: -8px;
  background: linear-gradient(45deg, #6e56d9 0%, #ae9ef1 100%);
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid #6e56d9;
  /* This makes room for the triangle */
  margin-left: 19px;
  position: relative;
  color: white;
  font-weight: 300;
  font-size: 28px;
  line-height: 38px;
  padding: 0 5px 0 5px;
}

/* Makes the triangle */
.price-tag:before {
  content: '';
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #6e56d9;
}

/* Makes the circle */
.price-tag:after {
  content: '';
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}

.free-tag {
  background: linear-gradient(45deg, #56d96e 0%, #9ef1ae 100%);
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid #56d96e;
}

.free-tag:before {
  border-right: 19px solid #56d96e;
}

.reviews-section {
  overflow-x: hidden;
}

.reviews-container {
  display: flex;
  width: 100%;
  overflow: visible;
  position: relative;
  gap: 2em;
  /* Optional: Adds some space between the boxes */
  animation: horizontal-scroll 120s linear infinite;
}

/* Faster animation in mobile */
@media (max-width: 1024px) {
  .reviews-container {
    animation-duration: 30s;
  }
}

@keyframes horizontal-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.review {
  flex-shrink: 0;
  /* Prevents the boxes from shrinking */
  width: 400px;
  height: 220px;
}

@media (min-width: 1024px) {
  .review:first-of-type {
    margin-left: 35%;
  }
}
