<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
    <title>Confirmación de Compra</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background: linear-gradient(90deg, #f2f2f2 0%, #d1c7fa 100%);
      }
      p {
        margin-bottom: 1.5rem;
      }
      ul {
        margin-bottom: 1.5rem;
      }
      li {
        margin-bottom: 0.5rem;
      }
    </style>
  </head>
  <body style="min-height: 100vh">
    <section class="section">
      <div class="container">
        <h1 class="title">Alguien envió un mensaje a Zalon Design</h1>
        <div class="block box card">
          <div class="card-content">
            <p class="title block">Datos del mensaje</p>
            <ul>
              <li>
                Nombre: <b>{{ contact_msg.name }}</b>
              </li>
              <li>
                Email: <b>{{ contact_msg.email }}</b>
              </li>
              <li>
                Mensaje: <b>{{ contact_msg.message }}</b>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
