<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
    <title>Confirmación de Compra</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background: linear-gradient(90deg, #f2f2f2 0%, #d1c7fa 100%);
      }
      p {
        margin-bottom: 1.5rem;
      }
      ul {
        margin-bottom: 1.5rem;
      }
      li {
        margin-bottom: 0.5rem;
      }
    </style>
  </head>
  <body style="min-height: 100vh">
    <section class="section">
      <div class="container">
        <img src="{{ server_name }}/static/img/zalon_design_logo.png" alt="Logo" />
        <h1 class="title has-text-centered">¡Muchas gracias por tu compra!</h1>
        <h3 class="subtitle has-text-centered">Hola, {{ customer.name }}, gracias por tu compra. Esperamos que le sea de gran valor a tu negocio.</h3>

        <div class="box card">
          <div class="card-image">
            <figure class="image is-4y3">
              <img src="{{ server_name }}/{{ pack.cover.url }}" alt="Placeholder image" />
            </figure>
            <div class="price-tag">${{ pack.price }}</div>
          </div>
          <div class="card-content">
            <p class="title block">Resumen de tu compra</p>
            <ul>
              <li>Pack: {{ pack.name }}</li>
              <li>Precio: ${{ pack.price }}</li>
            </ul>
            <div class="block">
              <a href="{{ server_name }}/pack/{{ pack.id }}/" class="button is-primary is-rounded">Ver página del pack</a>
            </div>
          </div>
        </div>

        <p class="has-text-centered">
          Si tienes alguna duda no dudes en contactarnos,<br />El equipo de Zalon Design
        </p>
      </div>
    </section>
  </body>
</html>
